<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>关于</title>
  <style>
    .about {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-content: center;
    }
  </style>
</head>
<body>
  <div class="about">
    <span>版本： 1.0.0</span>
    <span>作者： 秋月</span>
    <span>史上最牛批MarkDown编辑器</span>
  </div>
</body>
</html>